body {
    background-image: url("/public/assets/img/burger.png");
}

ul {
  padding: 5px;
  margin: 5px;
  background: #ffff99;
}

.label {
  font-weight: bold;
}

.create-form {
  padding: 5px;
  margin: 5px;
  background: #ffff99;
}

.form-group {
  margin-bottom: 5px;
}

form textarea {
  height:100px;
  width:25%;
} 

h1 {
  text-align: center;
  margin-top: 40px;
}